.nav-breadcrumbs {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	&__item {
		&:not(:first-child) {
			display: inline-flex;
			align-items: center;
			gap: 12px;
			&::before {
				content: "";
				display: block;
				width: 32px;
				height: 2px;
				background-color: var(--light-very-color);
			}
		}
	}

	&__link {
		color: var(--light-very-color);
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		outline: none;
		transition: color 0.3s ease 0s;

		&:hover,&:focus-visible {
			color: var(--light-deep-color);
		}
	}
}
