.soc1als {
	display: flex;
	align-items: center;
	gap: 20px;

	&__item {
	}

	&__link {
		display: block;
		width: 35px;
		height: 35px;
		outline: none;
		&:hover,&:focus-visible {
			.soc1als__icon {
				color: #000;
			}
		}
	}

	&__icon {
		stroke-width: 1.6;
		width: 33px;
		height: 33px;
		color: var(--dark-color);
		transition: color 0.3s ease 0s;

		&_stroke-width {
			stroke-width: 0.4;
		}
	}
}