.blog {
	padding: 40px 0;
	@media (min-width: 768px) {
		padding: 70px 0;
	}

	&__container {
	}

	&__content {
	}

	&__title {
		margin-bottom: 35px;

		@media (min-width: 768px) {
			margin-bottom: 50px;
		}
	}

	&__tabs {
		position: relative;
	}

	&__tabs-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}

	&__tabs-list {
		position: relative;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 10px;
		padding: 0;
		margin: 0;
		margin-bottom: 30px;

		@media (min-width: 576px) {
			z-index: 10;
			gap: 20px;
			margin: 0;
			max-width: calc(100% - 150px);
		}
	}

	&__tabs-button {
		padding: 10px 15px;
		font-size: 18px;
		font-weight: 500;
		line-height: normal;

		@media (min-width: 768px) {
			padding: 13px 34px;
			font-size: 16px;
		}

		&.tabs__button_active {
			background-color: var(--dark-color);
			color: var(--light-very-color);
		}
	}

	&__tabs-content {
		@media (min-width: 576px) {
		}
	}

	&__tabs-panel {
		margin-bottom: 32px;
		@media (min-width: 576px) {
			margin-bottom: 0;
		}
	}

	&__buttons-nav-slider-box {
	}

	&__buttons-nav-slider {
		outline: none;
		@include hover {
			&:hover {
				.arrow-box-circle {
					background-color: var(--light-very-color);
					&__icon {
						color: var(--dark-color);
					}
				}
			}
		}
		&:focus-visible {
			.arrow-box-circle {
				background-color: var(--light-very-color);
				&__icon {
					color: var(--dark-color);
				}
			}
		}

		&_prev {
			margin-right: 12px;
			.arrow-box-circle__icon {
				transform: rotate(180deg);
			}
		}

		&_next {
		}
	}

	&__slider {
		@media (min-width: 576px) {
		}
	}

	&__slide {
		&:hover {
			.blog__slide-text {
				height: var(--slide-text-height);
			}
		}
	}

	&__slide-inner {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 15px;
		border-radius: 20px;
		overflow: hidden;
		background-color: var(--light-very-color);
	}

	&__slide-img {
		width: 100%;
		height: 180px;
		border-radius: 10px;
	}

	&__slide-title {
		font-size: 20px;
		line-height: 27px;
	}

	&__slide-text {
		height: 80px;
		max-height: 250px;
		margin: 0;
		overflow: auto;
		transition: height 0.3s ease 0s;
		color: var(--text-color);
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
	}

	&__slide-link {
		display: flex;
		justify-content: space-between;
		padding: 11px 9px 11px 27px;
		color: rgb(255, 255, 255);
		font-family: "Hauora";
		font-size: 16px;
		font-weight: 500;
	}

	&__button-slider {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		&::after {
			display: none;
		}
	}
}
