.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
	&__label {
		padding: 24px;
		border: 1px solid rgba(34, 48, 78, 0.1);
		border-radius: 16px;
		backdrop-filter: blur(100px);
		background: var(--light-very-color);
	}

	&__input {
		display: block;
		color: rgba(38, 48, 70, 0.5);
		font-size: 18px;
		font-weight: 500;
		line-height: 101%;
	}

	&__textarea {
		resize: none;
		height: 110px;
		overflow: auto;
		padding: 24px;
		border: 1px solid rgba(34, 48, 78, 0.1);
		border-radius: 16px;
		backdrop-filter: blur(100px);
		background: var(--light-very-color);
		color: rgba(38, 48, 70, 0.5);
		font-size: 18px;
		font-weight: 500;
		line-height: 101%;
	}

	&__button {
		justify-content: space-between;
	}
}
