.header {
	z-index: 102;
	padding-left: 15px;
	padding: 5px 15px;
	overflow: hidden;

	@media(min-width:992px){
		padding: 15px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 102;
		width: 100%;
		background-color: var(--light-color);
	}

	&__container {
		max-width: 1360px;
		// padding-top: 5px;
		// padding-bottom: 5px;
		padding: 5px 15px;
		border-radius: 20px;
		overflow: hidden;
		background-color: var(--light-very-color);
		@media(min-width:992px){
			// padding-top: 15px;
			// padding-bottom: 15px;
			padding: 15px;
		}
	}
}
