.page {
  height: 100%;
	font-family: var(--font-family) ;
	font-size: 16px;
	font-weight: 400;
	scroll-padding-top: var(--header-height);
	scroll-behavior: smooth;
}

.page_ios .dis-scroll {
	position: relative;
}